body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
    
}

* {
    box-sizing: border-box;
  }

  /* Style the header */
header {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  .banner_accion{
    background: url(resources/banner_rojo.jpg) no-repeat;
    background-size: cover;
  }

  .banner_carreras{
    background: url(resources/banner_azul.jpg) no-repeat;
    background-size: cover;
  }

    .banner_estrategia{
    background: url(resources/banner_amarillo.jpg) no-repeat;
    background-size: cover;
  }

  .banner_rpg {
    background: url(resources/banner_verde.jpg) no-repeat;
    background-size: cover;
  }
  .banner_terror {
    background: url(resources/banner_negro.jpg) no-repeat;
    background-size: cover;
  }
  
  .banner_stim {
    background: url(resources/banner_stim.jpg) no-repeat;
    background-size: cover;
  }
  /* Create two columns/boxes that floats next to each other */
  .categorias {
    float: left;
    width: 20%;
    background-color: #ccc;
    padding: 20px;
    height: 600px;
  }
  
  .descripcion {
    float: right;
    padding: 20px;
    height: 600px;
    width: 30%;
    background-color: #f1f1f1;

  }
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 20px;
  }

  article ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .centro {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    height: 600px;
  }
   /* Clear floats after the columns */
   section::after {
    content: "";
    display: table;
    clear: both;
  }
 
  .buttonRegistrar {
    text-align: end;
  }
  